@model IEnumerable<Login>
@{
    ViewData["Title"] = "Index";
}

<h1>Logins</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginStatus)
                </td>
                <td>
                    @if (@item.LoginStatus == LoginStatus.Unlocked)
                    {
                        <form asp-action="LockOrUnlock">
                            <div class="form-group">
                                <input type="submit" value="Lock" class="btn btn-primary" />
                                @Html.Hidden("id", item.LoginID)
                            </div>
                        </form>
                    } else
                    {
                        <form asp-action="LockOrUnlock">
                            <div class="form-group">
                                <input type="submit" value="Unlock" class="btn btn-primary" />
                                @Html.Hidden("id", item.LoginID)
                            </div>
                        </form>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
